* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #07a8cc 10%, #025E73 100%);
    
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
